<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset label="COM_TEMPUS" name="tempus">
      <field
        name="musician_group"
        type="usergroup"
        label="COM_TEMPUS_CONFIG_FIELD_SINGERS_GROUP_LBL"
        description="COM_TEMPUS_CONFIG_FIELD_SINGERS_GROUP_DESC"
      />

      <field
        name="musician_password"
        type="text"
        label="COM_TEMPUS_ADMIN_CONFIG_FIELD_MUSICIAN_PASSWORD_LBL"
        description="COM_TEMPUS_ADMIN_CONFIG_FIELD_MUSICIAN_PASSWORD_DESC"
      />

      <field
        name="director_group"
        type="usergroup"
        label="COM_TEMPUS_ADMIN_CONFIG_FIELD_DIRECTOR_GROUP_LBL"
        description="COM_TEMPUS_ADMIN_CONFIG_FIELD_DIRECTOR_GROUP_DESC"
      />

      <field
        name="director_password"
        type="text"
        label="COM_TEMPUS_ADMIN_CONFIG_FIELD_DIRECTOR_PASSWORD_LBL"
        description="COM_TEMPUS_ADMIN_CONFIG_FIELD_DIRECTOR_PASSWORD_DESC"
      />

    </fieldset>
    <fieldset
      name="details"
      label="COM_TEMPUS_ADMIN_CONFIG_TAB_GROUP_DATA_LBL"
    >
    <field name="groupname" type="text"
      label="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_NAME_LBL"
      description="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_NAME_DESC"
      class="input-xlarge"
    />
    <field name="groupaddress" type="textarea" default="" rows="3" cols="55"
      label="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_ADDRESS_LBL"
      description="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_ADDRESS_DESC"
    />
    <field name="groupcity" type="text"
      label="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_CITY_LBL"
      description="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_CITY_DESC"
    />
    <field name="groupprov" type="text"
      label="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_PROVINCE_LBL"
      description="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_PROVINCE_DESC"
    />
    <field name="grouppc" type="text"
      label="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_ZIP_CODE_LBL"
      description="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_ZIP_CODE_DESC"
      class="input-mini"
    />
    <field name="groupphone" type="text" default="+34 "
      label="Teléfono de contacto"
      description="Teléfono de contacto"
      class="input-medium"
    />
    <field type="spacer" label="COM_TEMPUS_ADMIN_CONFIG_SPACER_EMAIL_DATA_LBL"
      class="text"  
    />
    <field name="mailfrom" type="text" size="50"
      label="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_EMAIL_LBL"
      description="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_EMAIL_DESC"
      class="input-xlarge"
    />
    <field name="fromname" type="text"
      label="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_WHO_SENDS_EMAILS_LBL"
      description="COM_TEMPUS_ADMIN_CONFIG_FIELD_GROUP_WHO_SENDS_EMAILS_DESC"
      class="input-xlarge"
    />
    </fieldset>
    <fieldset name="emails" label="COM_TEMPUS_ADMIN_CONFIG_TAB_GROUP_EMAILS_LBL">
      <field name="reh_emails_note" type="note"
        label="COM_TEMPUS_ADMIN_CONFIG_FIELD_NEW_REHEARSAL_NOTIFICATION_LBL"
        description="COM_TEMPUS_ADMIN_CONFIG_FIELD_NEW_REHEARSAL_NOTIFICATION_DESC"
        class="alert alert-info"
      />
      <field name="rehearsal_subject" type="text"
        label="COM_TEMPUS_ADMIN_CONFIG_FIELD_SUBJECT_LBL"
        description="COM_TEMPUS_ADMIN_CONFIG_FIELD_SUBJECT_DESC"
        class="input-xxlarge"
      />
      <field name="rehearsal_body" type="editor"
        label="COM_TEMPUS_ADMIN_CONFIG_FIELD_REHEARSAL_EMAIL_LBL"
   			filter="JComponentHelper::filterText"
        button="false"
      />
    </fieldset>
    <fieldset name="file_system"
      label="COM_TEMPUS_CONFIG_FILE_SYSTEM_LBL"
      description="COM_TEMPUS_CONFIG_FILE_SYSTEM_DESC"
      addfieldpath="/administrator/components/com_tempus/models/fields"
      >
      <field
        name="files_folder"
        type="text"
        default="coro/ficheros"
        label="COM_TEMPUS_CONFIG_FILES_FOLDER_LBL"
        description="COM_TEMPUS_CONFIG_FILES_FOLDER_DESC"
      />
      <field
        name="file_server"
        type="list"
        multiple="false"
        default="1"
        label="COM_TEMPUS_CONFIG_FILE_SERVER_LBL"
        description="COM_TEMPUS_CONFIG_FILE_SERVER_DESC"
      >
        <option value="local">Local</option>
        <option value="dropbox">Dropbox</option>
        <option value="as3">Amazon s3</option>
      </field>

        <field
          name="note_dropbox"
          type="note"
          class="alert alert-success"
          label="COM_TEMPUS_CONFIG_DROPBOX_APP_NOTE_LBL"
          description="COM_TEMPUS_CONFIG_DROPBOX_APP_NOTE_DESC"
          showon="file_server:dropbox[AND]token_dropbox:"
        />
        <field
          name="pbk_dropbox"
          type="text"
          label="COM_TEMPUS_CONFIG_DROPBOX_PUBLIC_KEY_LBL"
          description="COM_TEMPUS_CONFIG_DROPBOX_PUBLIC_KEY_DESC"
          showon="file_server:dropbox[AND]token_dropbox:"
          />
        <field
          name="prk_dropbox"
          type="password"
          label="COM_TEMPUS_CONFIG_DROPBOX_PRIVATE_KEY_LBL"
          description="COM_TEMPUS_CONFIG_DROPBOX_PRIVATE_KEY_DESC"
          showon="file_server:dropbox[AND]token_dropbox:"
          />
        <field
          name="note_dropbox_token"
          type="ortnote"
          class="alert"
          heading="h3"
          sprintf="pbk_dropbox"
          label="COM_TEMPUS_CONFIG_DROPBOX_APP_TOKEN_NOTE_LBL"
          description="COM_TEMPUS_CONFIG_DROPBOX_APP_TOKEN_NOTE_DESC"
          showon="file_server:dropbox[AND]prk_dropbox!:[AND]token_dropbox:"
        />
        <field
          name="token_dropbox"
          type="text"
          label="COM_TEMPUS_CONFIG_DROPBOX_TOKEN_LBL"
          description="COM_TEMPUS_CONFIG_DROPBOX_TOKEN_DESC"
          showon="file_server:dropbox[AND]prk_dropbox!:[AND]oauth2Token_dropbox:"
          />
        <field
          name="connect_dropbox"
          type="custombutton"
          button_text="Conectar a dropbox"
          button_class="info"
          button_href="index.php?option=com_tempus"
          button_task="dropbox.connect"
          showon="file_server:dropbox[AND]prk_dropbox!:[AND]token_dropbox!:[AND]oauth2Token_dropbox:"
        />
        <field
          name="disconnect_dropbox"
          type="custombutton"
          button_text="Desconectar de dropbox"
          button_class="success"
          button_href="index.php?option=com_tempus"
          button_task="dropbox.disconnect"
          showon="file_server:dropbox[AND]oauth2Token_dropbox!:"
        />
        <field
          name="oauth2Token_dropbox"
          type="hidden"
        />
        <!--###file_system###-->
    </fieldset>

    <fieldset name="component">
        <field
          name="save_history"
          type="radio"
          class="btn-group btn-group-yesno"
          default="0"
          label="JGLOBAL_SAVE_HISTORY_OPTIONS_LABEL"
          description="JGLOBAL_SAVE_HISTORY_OPTIONS_DESC">
            <option value="0">JNO</option>
            <option value="1">JYES</option>
        </field>

        <field
          name="history_limit"
          type="text"
          filter="integer"
          label="JGLOBAL_HISTORY_LIMIT_OPTIONS_LABEL"
          description="JGLOBAL_HISTORY_LIMIT_OPTIONS_DESC"
          default="5"/>
        <!--###component###-->
    </fieldset>

    <fieldset name="permissions"
      description="JCONFIG_PERMISSIONS_DESC"
      label="JCONFIG_PERMISSIONS_LABEL">
      <field
        name="rules"
        type="rules"
        component="com_tempus"
        class="inputbox"
        filter="rules"
        validate="rules"
        label="JCONFIG_PERMISSIONS_LABEL"
        section="component" />
	  </fieldset>
</config>